@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Zilla+Slab:300,400');

body {
    background: #73C2FB;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

button:active {
    outline: none;
    border: none;
}

.my-container {
    position: absolute;
    left: 25%;
    width: 50%;
    min-height: 100%;
    box-shadow: 0.0rem -0.5rem 2rem rgba(0, 0, 0, 0.6);
    background: #ffffff;
    margin: 0;
    top: 0;
    color: #000000;
    font-family: input-mono-narrow, monospace;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    padding: 100px 0 20px 0;
    margin: 0 0 50px 0;
    align-self: center;
    font-family: "fredericka the great", cursive;
    font-weight: 500;
    text-align: center;
    font-size: 4rem;
    color: #0047ab;
    border-bottom: 2px solid #0047ab;
}

.items {
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-self: center;
}

.button-item {
    height: 50px;
    margin: 5px 0 35px 0;
    padding: 0;
}


.add-button {
    font-weight: 600;
    padding: 1rem 1.5rem;
    margin-bottom: 30px;
    overflow: hidden;
    border: 2px solid #0073cf;
    color: #000;
    background-color: #fff;
}

.add-button:hover {
    border: 2px solid #000;
    color: #fff;
    background-color: #0073cf;
}

.add-button span {
    display: block;
    position: relative;
}

.add-button > span {
    overflow: hidden;
}

.add-button:hover > span {
    animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

@keyframes MoveUpInitial {
    to {
        transform: translate3d(0,-105%,0);
    }
}

@keyframes MoveUpEnd {
    from {
        transform: translate3d(0,100%,0);
    }

    to {
        transform: translate3d(0,0,0);
    }
}

.item {
    height: 50px;
    border: 2px solid #ffffff;
    margin: 5px 0 5px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item:hover {
    border: 2px solid #0047ab;
    border-radius: 10px;
}

.item-title {
    margin: 0 0 0 15px;
    padding: 0;
    overflow: hidden;
}

.item-actions {
    margin: 0 10px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: #fff;
    padding: 0;
}

.edit-button {
    border: 1px solid #198754;
    color: #198754;
    margin-right: 28px;
    margin-left: 10px;
}

.edit-button:hover {
        background: #198754;
        color: #fff;
    }

.edit-button > a {
        color: #198754;
    }

.edit-button:hover > a {
        background: #198754;
        color: #fff;
    }

#delete-button {
    border: 1px solid #ff0800;
    color: #ff0800;
}

#delete-button:hover {
    background: #ff0800;
    color: #fff;
}

.modal-open {
    overflow: inherit;
}

.go-to-schedule-button {
    color: mediumpurple;
    border: 1px solid mediumpurple;
    margin-right: 20px;
    margin-left: 28px;
}

.go-to-schedule-button:hover {
    background-color: mediumpurple;
    color:white;
}